.sidebar{
    flex-direction: column;
    flex: 0.3;
    min-width: 300px;
    margin-top: 20px;
    margin-right: 20px;
}
.sidebar > h3{
    margin-left: 20px;
}
.sidebar__container{
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 20px !important;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 450ms;
}   
.sidebar__container:hover{
    transform: scale(1.08);
}
.sidebar__details{
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 20px;
}
.img__con{
    margin-left: -2rem;
    margin-right: -1.6rem;
    margin-top: -0.8rem;
}
.img{
    object-fit: contain;
    width: 100%;
}
.sidebar__button{
    justify-content: space-around !important;
    background-color: #bc00dd !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;

    
}
.sidebar__but{
    margin-left: 30px;
}
.sidebar__dot{
    color: #e76f51 !important;
    font-size: 15px !important;
}

@media screen and (max-width: 700px) {
    .sidebar{
        margin-bottom: 20px;
    }
    .sidebar__details{
      flex-direction: column;
      margin-top: 20px;
      margin-left: 50px;
    }
  }